* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

nav {
    background-color: rgb(7, 7, 32);
    color: white;
    font-size: 2rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 500px;
    margin: 4rem auto;
    border: 2px solid rgb(7, 7, 32);
    border-radius: 15px;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    height: 2.5rem;
    margin-top: 1rem;
    padding-left: 10px;
    font-size: 1rem;
    border: 1px solid rgb(7, 7, 32);
}

.question-div input {
    width: 100%;
    border-radius: 5px;
}

.inputField input {
    width: 94%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inputField {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.inputField>div {
    height: 2.5rem;
    width: 6%;
    background-color: rgb(65, 146, 27);
    margin-top: 1rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:focus {
    outline: none;
    border: 2px solid rgb(65, 146, 27);
}

h2 {
    margin-top: 1rem;
}

.buttons {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: .5rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border: 1px solid;
    border-radius: 5px;
}

.btn:hover {
    cursor: pointer;
}

.choice-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.choice-div h1 {
    color:rgb(65, 146, 27);
    margin-bottom: 1rem;
}

.choice-div a {
    margin-top: 1rem;
}